
    <!-- Footer -->
    <section class="footer">
        <h4>About Us</h4>
        <p>Chúng tôi là nhóm sinh viên trường Đại học Khoa Học Huế hiện đang thực tập Internship 
            tại công ty AIT Huế <br>
            Hãy liên hệ với chúng tôi qua các phương tiện dưới đây
        </p>
        <div class="icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Blog với mục đích giao lưu và học hỏi cho những ai có niềm đam mê và hứng thú 
            với đất nước Nhật Bản.
        </br>Cám ơn các bạn đã ghé blog chúng mình
        </br><i class="fa fa-heart-o"></i> Love Japan <i class="fa fa-heart-o"></i>
        </p>
        <p>Made with <i class="fa fa-heart-o"></i> by Ha Xuan Nghia and Vo Anh Tuan</p>

    </section>
