<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Thư viện-->  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!--Icon-->
    <link rel = "icon" href = "/imgs/icon/icon.png"  type = "image/x-icon">
    <!--CSS-->
    <link href="/css/style-tintuc.css" rel="stylesheet" type="text/css">
    
    <!--JS-->
    <script src="/js/js-tintuc.js"></script>
    <title>Tin Tức</title>
</head>
<body>
        
        <%- include('./_layouts/header')-%>

        <div class="text-box">
            <h1>Tin Tức Nhật Bản</h1>
            <p>Cập nhật thêm tin tức đất nước Nhật Bản để hiểu rõ hơn về đất nước "Mặt trời mọc" này nhé!
            </p>
            <a href="#tintuc" class="hero-btn">Let's Go</a>
        </div>
    </section>

    <!-- Tin tức chính -->
    <section id="tintuc" class="tintuc">
        <h1>Một số tin tức chính</h1>
        <p>Sau đây là một số tin tức chính cần quan tâm tại Nhật Bản.</p>
        
        <div class="tintuc-main">
            <div class="left">
                <div class="left-up">
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/tintuc/Cong-ty-Nhat-Ban-thu-nghiem-thuoc-chua-khoi-Covid-19.jpg" alt="Cong-ty-Nhat-Ban-thu-nghiem-thuoc-chua-khoi-Covid-19">
                        <h3>Công ty Nhật Bản thử nghiệm thuốc chữa khỏi Covid-19 trong 5 ngày</h3>
                    </div>
                </div>
                <div class="left-down">
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/tintuc/Truyen-thong-Nhat-Ban-noi-gi.jpg" alt="">
                        <h3>Truyền thông Nhật Bản nói gì...</h3>
                    </div>
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/tintuc/Thi-tran-ma-van-vang-tanh-sau-10-nam.jpeg" alt="">
                        <h3>“Thị trấn ma” sau 10 năm thảm họa...</h3>
                    </div>
                    <div class="tintuc-listmain">
                        <img src="/imgs/tintuc/tintuc/Tham-hoa-dong-dat-song-than-kinh-hoang-lam-nghieng-truc-Trai-dat.jpg" alt="">
                        <h3>Thảm họa động đất sóng thần kinh hoàng...</h3>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="tintuc-listmain">
                    <img src="/imgs/tintuc/tintuc/Ngo-ngang-truoc-nhung-le-hoi-kho-tin-la-co-that-tai.jpeg" alt="">
                    <h3>Ngỡ ngàng trước những lễ hội “khó tin là có thật”...</h3>
                </div>
                <div class="tintuc-listmain">
                    <img src="/imgs/tintuc/tintuc/Con-trau-tro-thanh-vat-thieng-duoc-ton-tho-o-Nhat-Ban.jpeg" alt="">
                    <h3>Con trâu trở thành vật thiêng được tôn thờ...</h3>
                </div>
                <div class="tintuc-listmain">
                    <img src="/imgs/tintuc/tintuc/Vi-sao-Nhat-Ban-bo-Tet-am-lich-de-an-Tet-Tay.jpg" alt="">
                    <h3>Vì sao Nhật Bản bỏ Tết Nguyên đán để ăn Tết Tây?</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="vanhoa">
        <h1>Một số tin tức khác</h1>
        
        <div class="row">
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/tintuc/tokyo-20.jpg" alt="">
                <h3>Tokyo có phải là thủ đô của Nhật Bản?</h3>
                <p>Tokyo chưa từng được công nhận là thủ đô chính thức của Nhật Bản. Hiện tại, chưa có bất cứ quy định cụ thể nào ở Nhật phân định nơi đâu là thủ đô.
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/tintuc/1589710769-khu-vuc-thi-the-cua-nan-nhan-nguyen-van-duc-duoc-phat-hien-o-toyama.jpg" alt="">
                <h3>Cảnh sát Nhật bắt nghi phạm vụ sát hại thực tập sinh Việt Nam</h3>
                <p>Ngô Ngọc Minh là nghi phạm bị cảnh sát thành phố Toyama cáo buộc đã giấu thi thể thực tập sinh Nguyễn Văn Đức.
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/tintuc/1578323209-97-ca-ngu-nhat-ban-duoc-dem-ban-dau-gia-toi-hon-41-ty.jpg" alt="">
                <h3>Nhật Bản: Một con cá đem bán được hơn 41 tỷ đồng</h3>
                <p>Một con cá ngừ vây xanh đã được bán với giá 193,2 triệu yên (tương đương hơn 41 tỷ đồng) trong phiên đấu giá đầu tiên của năm mới tại chợ cá Toyosu ở thủ đô Tokyo, Nhật Bản.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/tintuc/tokyo-20.jpg" alt="">
                <h3>Tokyo có phải là thủ đô của Nhật Bản?</h3>
                <p>Tokyo chưa từng được công nhận là thủ đô chính thức của Nhật Bản. Hiện tại, chưa có bất cứ quy định cụ thể nào ở Nhật phân định nơi đâu là thủ đô.
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/tintuc/1589710769-khu-vuc-thi-the-cua-nan-nhan-nguyen-van-duc-duoc-phat-hien-o-toyama.jpg" alt="">
                <h3>Cảnh sát Nhật bắt nghi phạm vụ sát hại thực tập sinh Việt Nam</h3>
                <p>Ngô Ngọc Minh là nghi phạm bị cảnh sát thành phố Toyama cáo buộc đã giấu thi thể thực tập sinh Nguyễn Văn Đức.
                </p>
            </div>
            <div class="vanhoa-col">
                <img src="/imgs/tintuc/tintuc/1578323209-97-ca-ngu-nhat-ban-duoc-dem-ban-dau-gia-toi-hon-41-ty.jpg" alt="">
                <h3>Nhật Bản: Một con cá đem bán được hơn 41 tỷ đồng</h3>
                <p>Một con cá ngừ vây xanh đã được bán với giá 193,2 triệu yên (tương đương hơn 41 tỷ đồng) trong phiên đấu giá đầu tiên của năm mới tại chợ cá Toyosu ở thủ đô Tokyo, Nhật Bản.
                </p>
            </div>
        </div>
    </section>
    
    <%- include('./_layouts/footer')-%>
</body>
</html>