<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Thư viện-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600;1,700&family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!--Icon-->
    <link rel = "icon" href = "/imgs/icon/icon.png"  type = "image/x-icon">
    <!--CSS-->
    <link href="/css/style-trangchu.css" rel="stylesheet" type="text/css">

    <!--JS-->
    <script src="/js/js-trangchu.js"></script>
    <title>Trang Chủ</title>
</head>
<body>
    <%- include('./_layouts/header')-%>
    <div class="text-box">
        <h1>Welcome to Blog NiHonGo</h1>
        <p>Hãy làm cho cuộc sống của bạn trở nên tốt đẹp hơn khi còn có thể!!</p>
        <a href="#content_mid" class="hero-btn">Let's Go</a>
    </div>
</section>
    <section id="content_mid" class="course">
        <h1>Giới thiệu</h1>
        <div class="row">
            <div class="course-col">
                <h3>Văn hóa</h3>
                <p>Nền văn hóa Nhật Bản từ xa xưa đã mang nhiều nét độc 
                    đáo và đặc sắc riêng. Với vị trí địa lý đặc biệt khi
                     bao quanh hoàn toàn bởi biển và do các hòn đảo lớn ghép lại với nhau.
                      Nhật Bản có những lợi thế về khí hậu cũng như tài nguyên thiên nhiên. 
                      Tuy nhiên cũng phải hứng chịu nhiều thiên tai như động đất, 
                      sóng thần, làm thiệt hại về người và của nghiêm trọng. 
                      Mặc dù vậy với ý chí kiên cường và tinh thần đoàn kết, n
                      gười Nhật đã đưa đất nước của mình vươn lên sánh ngang 
                    các cường quốc hàng đầu khiến cả thế giới phải ngưỡng mộ</p>
            </div>
            <div class="course-col">
                <h3>Tiếng Nhật</h3>
                <p>Có giả thuyết nói rằng tiếng Nhật có quan hệ với ngữ hệ Dravida, 
                    nhưng những nhà nghiên cứu nhận thấy mối quan hệ đó không nhiều. 
                    Shin Ono có giả thuyết cho rằng các điểm từ vựng - 
                    ngữ pháp của tiếng Nhật có những điểm chung với tiếng Tamil, 
                    tuy nhiên đã có nhiều chỉ trích quan điểm này khi xem xét vấn đề 
                    theo phương pháp của ngành so sánh ngôn ngữ học</p>
            </div>
            <div class="course-col">
                <h3>Tin tức</h3>
                <p>Nhật Bản được biết đến với đất nước mặt trời mọc, bên cạnh đó 
                    nước Nhật còn là đất nước phát triển kinh tế hàng đầu thế giới
                    phong cảnh đẹp, ngành du lịch phát triển, giới trẻ hiện nay có xu hướng
                    sang Nhật bản để du học và làm việc hơn là ở tại đất nước của mình
                    để học tập và làm việc.
                </p>
            </div>
        </div>
    </section>
    <section  class="campus">
        <h1>Thành phố</h1>
        <div class="row">
            <div class="campus-col">
                <img src="imgs/trangchu/Kyoto2.jpg">
                <div class="layer">
                    <h3>KYOTO</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="imgs/trangchu/toanha.jpg">
                <div class="layer">
                    <h3>TOKYO</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="imgs/trangchu/osakabuoidem.jpg">
                <div class="layer">
                    <h3>OSAKA</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="baiviet">
        <h1>Bài viết nổi bật</h1>
        <p>Hãy cùng nhau viết nên cuộc sống tươi đẹp.</p>
        <div class="row">
            <div class="baiviet-col">
                <img src="imgs/trangchu/lamthem.jpg">
                <a href="#"><h3>
                    Mắc kẹt vì Covid-19, du học sinh Việt 
                    Nam tại Nhật ngủ vùi để tránh xài tiền
                    </h3></a>
                <p>Nhiều sinh viên nước ngoài sinh sống ở Nhật Bản,
                     trong đó có du học sinh Việt Nam..</p>
            </div>
            <div class="baiviet-col">
                <img src="imgs/trangchu/hocbai.jpg">
                <a href="#"><h3> Phương pháp học từ vựng hiệu quả
                    </h3></a>
                <p>Hiện nay số lượng người học tiếng Nhật đã tăng rất nhiều, nhưng bên
                    cạnh đó...
                </p>
            </div>
            <div class="baiviet-col">
                <img src="imgs/trangchu/dulichosaka.jpg">
                <a href="#"><h3>Đêm ở Nhật Bản là liều thuốc tinh thần diệu kì
                    </h3></a>
                <p>Các con phố nhỏ ở Nhật luôn mang tính chất cổ xưa xen lẫn hiện đại
                    làm cho...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="baiviet-col">
                <img src="imgs/trangchu/duongpho.jpg">
                <a href="#"><h3>
                    Mắc kẹt vì Covid-19, du học sinh Việt 
                    Nam tại Nhật ngủ vùi để tránh xài tiền
                    </h3></a>
                <p>Nhiều sinh viên nước ngoài sinh sống ở Nhật Bản,
                     trong đó có du học sinh Việt Nam..</p>
            </div>
            <div class="baiviet-col">
                <img src="imgs/trangchu/duongpho2.jpg">
                <a href="#"><h3> Phương pháp học từ vựng hiệu quả
                    </h3></a>
                <p>Hiện nay số lượng người học tiếng Nhật đã tăng rất nhiều, nhưng bên
                    cạnh đó...
                </p>
            </div>
            <div class="baiviet-col">
                <img src="imgs/trangchu/duongpho3.jpg">
                <a href="#"><h3>Đêm ở Nhật Bản là liều thuốc tinh thần diệu kì
                    </h3></a>
                <p>Các con phố nhỏ ở Nhật luôn mang tính chất cổ xưa xen lẫn hiện đại
                    làm cho...
                </p>
            </div>
        </div>
    </section>
    <section class="designby">
        <h1>Website design By </h1>
        <div class="row">
            <div class="gioithieu">
                <img src="imgs/trangchu/xuannghia.jpg">
                <div>
                    <p>Xin chào tất cả các bạn mình hiện đang là sinh viên năm 3
                        tại trường Đại học Khoa học Huế, mình mới bắt đầu học và dựng 
                        trang web này
                    </p>
                    <h3>Hà Xuân Nghĩa</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                
            </div>
            <div class="gioithieu">
                <img src="imgs/trangchu/voanhtuan.jpg">
                <div>
                    <p>Xin chào tất cả các bạn mình hiện đang là sinh viên năm 3
                        tại trường Đại học Khoa học Huế, mình mới bắt đầu học và dựng 
                        trang web này</p>
                    <h3>Võ Anh Tuấn</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                
            </div>
        </div>
    </section>

    <section class="cta">
        <h1>Nếu bạn giao cho tôi 1% tin tưởng tôi sẽ đáp lại 100% sự thành công</h1>
        <a href="#">CONTACT US</a>
    </section>
    <%- include('./_layouts/footer')-%>
</body>
</html>