<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Thư viện-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!--Icon-->
    <link rel = "icon" href = "/imgs/icon/icon.png"  type = "image/x-icon">
    <!--CSS-->
    <link href="/css/style-vanhoa.css" rel="stylesheet" type="text/css">
    
    <!--JS-->
    <script src="/js/js-vanhoa.js"></script>
    <title>Văn Hóa</title>
</head>
<body>
        <%- include('./_layouts/header')-%>
    
        <div class="text-box">
            <h1>Văn Hóa Xứ Sở Hoa Anh Đào</h1>
            <p>Cùng tìm hiểu đôi Nét Về Xứ sở hoa anh đào – Xứ phù Tang – Đất Nước Mặt Trời Mọc để có thể biết được ý nghĩa 
                đằng sau những cái tên thú vị này.
            </p>
            <a href="#section" class="hero-btn">Let's Go</a>
        </div>
    </section>

    <!-- Campus -->
    <section class="campus">
        <h1>Một số văn hóa nên biết</h1>
        <p>Nét văn hóa Nhật Bản rất đa dạng và đặc sắc, vì vậy có những văn hóa thường thấy của người Nhật bạn nhất định phải biết trước 
            khi đặt chân đến nước Nhật, cùng khám phá thôi</p>
        
        <div class="row">
            <div class="campus-col">
                <a href="#">
                    <img src="/imgs/vanhoa/cuichao.jpg" alt="">
                    <h3>Văn hóa cúi chào</h3>
                </a>
                <p>Cúi chào là một nét truyền thống quan trọng của Nhật Bản.
                    Nó được áp dụng trong rất nhiều hoàn cảnh từ thể thao tới đám cưới.
                </p>
            </div>
            <div class="campus-col">
                <a href="#">
                    <img src="/imgs/vanhoa/dotnuiyamayaki.jpg" alt="">
                    <h3>Lễ hội đốt núi Yamayaki</h3>
                </a>
                <p>Yamayaki là lễ hội tổ chức hàng năm trước khi xuân tới.
                    Tại lễ hội, người Nhật sẽ đốt cháy cỏ trên sườn đồi núi Wakakusayama Nara.
                </p>
            </div>
            <div class="campus-col">
                <a href="#">
                    <img src="/imgs/vanhoa/tiecbonenkai.jpg" alt="">
                    <h3>Tiệc bonenkai</h3>
                </a>
                <p>Để tạm biệt buồn phiền xui xẻo của năm cũ và chào đón năm mới.
                    Hầu hết các công ty Nhật đều tổ chức ít nhất một bữa tiệc truyền thống này.
                </p>
            </div>
        </div>
        </div>
    </section>


    <!-- Van hoa -->
    <section class="vanhoa">
        <h1>Một số văn hóa khác</h1>
        <p>Ngoài những nét văn hóa đặc sắc trên, Nhật Bản còn nhiều văn hóa đẹp đẽ khác nữa đấy. Cùng tìm hiểu với chúng mình nào!!</p>
        
        <div class="row">
            <div class="vanhoa-col">
                <a href="#">
                    <img src="/imgs/vanhoa/lambanhmochi.jpg" alt="">
                    <h3>Làm bánh mochi</h3>
                </a>
                <p>Mochi là loại bánh gạo ngọt của Nhật.
                    Gạo dùng để làm loại bánh này thường được ngâm 
                    qua đêm sau đó hấp trên lửa rồi nghiền thành bột mịn.
                </p>
            </div>
            <div class="vanhoa-col">
                <a href="#">
                    <img src="/imgs/vanhoa/khanquandau.png" alt="">
                    <h3>Khăn quấn đầu tại onsen</h3>
                </a>
                <p>Khăn đội đầu giúp giữ ấm và ổn định huyết áp cho cơ thể, 
                    đặc biệt trong những ngày đông lạnh giá khi nhiệt độ ngoài trời 
                    và trong bể có sự chênh lệch lớn.
                </p>
            </div>
            <div class="vanhoa-col">
                <a href="#">
                    <img src="/imgs/vanhoa/kfcgiangsinh.png" alt="">
                    <h3>Ngắm hoa anh đào</h3>
                </a>
                <p>Cũng giống với phong tục của người Phương Tây, người Nhật thường ăn gà tây
                    vào dịp lễ giáng sinh. Tuy nhiên, gà tây hiếm có tại Nhật nên nhiều người
                    dùng gà nướng để thay thế.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="vanhoa-col">
                <a href="#">
                    <img src="/imgs/vanhoa/ngamhoa.jpg" alt="">
                    <h3>Ngắm hoa anh đào</h3>
                </a>
                <p>Nếu có cơ hội du lịch Nhật Bản vào mùa hoa anh đào nở rộ, 
                    mời bạn cùng thưởng thức nghệ thuật ngắm hoa anh đào đầy 
                    thi vị của người dân xứ sở mặt trời mọc.
                </p>
            </div>
            <div class="vanhoa-col">
                <a href="#">
                    <img src="/imgs/vanhoa/muabon.jpg" alt="">
                    <h3>Lễ hội Bon Odori</h3>
                </a>
                <p>Lễ hội Bon Odori của người Nhật Bản kéo dài trong vòng 1 tuần. 
                    Người ta thường nói rằng ở bất kỳ nơi nào trên thế giới có cồng 
                    động người Nhật sinh sống là sẽ có sự xuất hiện của điệu múa Bon.
                </p>
            </div>
            <div class="vanhoa-col">
                <a href="#">
                    <img src="/imgs/vanhoa/kimono.jpg" alt="">
                    <h3>Trang phục kimono</h3>
                </a>
                <p>Kimono - quốc phục của Nhật Bản đã mê hoặc biết bao nhiêu du khách 
                    nước ngoài với vẻ thanh lịch cùng ý nghĩa văn hóa sâu sắc và lịch sử lâu đời.
                </p>
            </div>
        </div>
    </section>

    <%- include('./_layouts/footer')-%> 
</body>
</html>