*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Time New Roman' !important;
 }
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/imgs/tiengnhat/tiengnhat.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
#infor{
    display:none;
  }
#navLinks .dndk{
    margin-top: 15px;
}

#navLinks .dndk a{
    color: #f44336;
    margin-right: 11px;
    text-decoration: none;
    margin-top: 25px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.nav-links ul li.active::after{
    width: 80%;
    background: rgb(226, 176, 37); ;
}
.nav-links ul li a:hover{
    color:rgb(229, 245, 10);
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(231, 65, 65);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: 600;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.text-box .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.text-box .hero-btn:hover{
    background: #f44336;
    border: 1px solid #f44336;
    transition: 1s;
} 
nav .fa{
    display: none;
}
@media(max-width:700px){
    html, body {overflow-x: hidden;}
    nav img{
        width: 50px;
    }
    #navLinks .dndk{
        margin-left: 30px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li.active::after{
        width: 100%;
        margin-left: 0px;
    }
    .nav-links{
        position: absolute;
        background: #201919;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
} 

/* content_mid */
.content_mid{
    /* width: 100%; */
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: rgb(240,240,240);
}
.hoctiengnhat{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}
.htnleft{
    width: 15%;
    /* background: lemonchiffon; */
    height: 500px;
    margin-left: 15%;
   
}
#n5,#n4{
    display: none;
}
#nguoimoi, #n5, #n4 {
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down 10s ease-in;
    -moz-animation: slide-down 10s ease-in;
}
@-webkit-keyframes slide-down{
    0%  {opacity: 0;}
    10% {opacity: 1;}
}

.htnleft p{
    border: 1px solid #fff;
    border-radius: 5px;
    background:#fff;
    margin-bottom: 20px;    
    padding: 10px;
    color: #4e4c4c;
    font-size: 18px;
    
}
.htnleft .capdo{
    background: #fff;
    height: auto;
    
}
.htnleft .capdo h3{
    background:#ff9600;
    padding: 10px;

}
.htnleft .capdo li.active::after{
    width: 15%;
    background:rgb(205, 207, 68);
    
}
.htnleft .capdo li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(205, 207, 68);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.htnleft .capdo li:hover::after{
    width: 50%;
    
}

.htnleft .capdo li:hover {
    color: rgb(43, 22, 163);
    cursor: pointer;

}
.htnleft .capdo li{
    list-style: none;
    padding: 10px;
    margin-top: 5px;
}


.htnright{
    width: 50%;
    background:#fff;
    height: auto;
    margin-right: 15%;      
}


/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.footer .fa{
    color: #f44336;
    margin: 0 10px;
    cursor: pointer;
    padding: 18px 0; 
}
.container .chonbang button{
    margin:20px;
    border: 1px solid #32da2c;
    padding: 10px;
    background: #fff;
    color: #777;
    border-radius:5px;
}
.container .chonbang button:hover{
    box-shadow: 1px  1px;
    background: #777;
    color: #fff;
}
.container .chonbang .active{
    background: #535357;
    color: #fff
}
/* row */
/* .row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.row-cols-1>*{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
.row-cols-md-2>*{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%} */